{% extends 'base/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'user_pages/about_us.css' %}">{% endblock %}
{% block title %}Про нас{% endblock %}

{% block content %}

<div id="content">
  <div class="section">
    <h2>Вступ</h2>
    <p>
    <p>-Команда розробників компанії WebGuru об'єднує талановитих професіоналів, які створюють неймовірні веб-додатки та
      сайти з функціональністю, що вражає.</p>
    <p>-WebGuru має вражаючу команду розробників, які займаються програмуванням з високою ефективністю та бездоганним
      розумінням потреб клієнтів.</p>
    <p>-Розробники в компанії WebGuru володіють глибоким розумінням сучасних технологій і завжди прагнуть до інновацій у
      своїх проектах.</p>
    <p>-Команда розробників WebGuru постійно спілкується з клієнтами, щоб гарантувати, що їхні веб-рішення повністю
      відповідають їхнім потребам та очікуванням.</p>
    <p>-WebGuru має команду розробників, які пишуть код з великою любов'ю до деталей та враховують кращі практики, щоб
      забезпечити високу якість своїх продуктів.</p>
    </p>
  </div>
  <hr>
  <div class="section">
    <h2>Команда розробників</h2>
    <div class="team-member">
      <span class="span-member">
        <h3>Мамедов Артур</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Сергій Косьмінін</h3>
      </span>
      <p>Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Ярослав Турчин</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Тамара Чекаліна </h3>
      </span>
      <p>Front-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Роман Бабай</h3>
      </span>
      <p>Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Данило Варяник</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Шаров Андрій</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Біляєв Олексій </h3>
      </span>
      <p>Front-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Пилипов Єгор</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Артем Сенчишин</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Гетьман Олексій </h3>
      </span>
      <p>Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Ільченко Ксенія</h3>
      </span>
      <p>Front-end/Back-end Developer</p>
    </div>
    <div class="team-member">
      <span class="span-member">
        <h3>Осипенко Мирон</h3>
      </span>
      <p>Front-end Developer</p>
    </div>
  </div>
  <hr>
  <div class="section social-media">
    <h2>Наші соцмережі</h2>
    <a href="https://www.facebook.com" target="_blank">Facebook</a>
    <a href="https://www.twitter.com" target="_blank">Twitter</a>
    <a href="https://www.instagram.com" target="_blank">Instagram</a>
  </div>
</div>
{% endblock %}