{% extends 'base/base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'user_pages/main.css' %}">{% endblock %}
{% block title %}Головна{% endblock %}


{% block content %}
    <div id="content">
        <h1>Вступна інформація</h1>
        <hr>
        <p><b>Веб-розробник</b> - це спеціаліст, який створює та підтримує сайти та програми. Він може працювати як над зовнішнім виглядом сайту, так і його внутрішньою, серверною частиною. Тестування і пошук багів - хоч і не основна, але теж одне із завдань веб-програмування.</p>
        <hr>
        <p><b>Frontend-розробник</b> - створює зовнішній вигляд сайту. Веб-фахівець верстає сторінки та відповідає за те, щоб сайт був красивим та зручним. Але робота фронтендера не обмежується лише інтерфейсом. Функції веб-розробника включають не тільки програмування нових елементів сайту. Він також стежить, щоб усі вони добре працювали. Наприклад, якщо мобільна версія сайту вилазить за краї екрана або не працює кнопка відправки товару в кошик, це зона відповідальності frontend-розробника.</p>
        <hr>
        <p><b>Backend-розробник</b> - відповідає за серверну частину. Його завдання - це "начинка" сайту, тобто все те, що не видно користувачеві. Якщо сайт швидко завантажується, на ньому зручно та швидко шукати інформацію, він надійно та безпечно зберігає дані – подякуйте за це backend-розробнику.</p>
        <hr>
        <p><b>Fullstack-розробник</b> - вміє робити і те, й інше. Він розробляє сайт, проектує його архітектуру та займається системним адмініструванням. Fullstack-розробники - найпопулярніша професія.</p>
        <hr>
        <h2> Найпопулярніші мови програмування на цей день</h2>
        <div class="img-container">
        <img src="{% static 'images/statistics.png' %}" alt="Sorry litle problems">
        </div>
    </div>
{% endblock %}

